* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
}

.trybewarts-login {
  align-self: center;
  display: flex;
  gap: 10px;
}

.login {
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.input.login {
  width: 200px;
}

#loginBTN {
  background-color: #4e2c83;
  border: none;
  color: white;
  padding: 0px 30px;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px
}

#trybewarts-forms-logo {
  height: 500px;
}

textarea {
  resize: none;
}

.eval-input {
  width: 48%;
}

.container {
  display: flex;
  justify-content: space-between;
}

select {
  width: 85%;
}

#familia {
  display: flex;
  flex-direction: column;
}

.check-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nota {
  display: flex;
  justify-content: space-between;
}

#informacoes {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

#submit-btn {
  width: max-content;
  padding: 2px 15px;
  align-self: flex-end;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 15px;
}