* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
}

.trybewarts-login {
  align-self: center;
  display: flex;
  gap: 10px;
}

.login {
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 10px;
}

.input.login {
  width: 200px;
}

#loginBTN {
  background-color: rgb(78, 44, 131);
  border: none;
  color: white;
  padding: 0 30px;
}

main {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  margin-top: 1.5%;
  margin-bottom: 5%;
  justify-content: space-evenly;
}

#trybewarts-forms-logo {
  height: 500px;
}

textarea {
  resize: none;
  width: 100%;
}

.eval-input {
  width: 48%;
}

.container {
  display: flex;
  justify-content: space-between;
}

select {
  width: 85%;
  flex: 1;
}

#familia {
  display: flex;
  flex-direction: column;
}

.check-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nota {
  display: flex;
  justify-content: space-between;
}

#informacoes {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

#submit-btn {
  width: max-content;
  padding: 2px 15px;
  align-self: flex-end;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100vw;
  background-color: rgb(50, 167, 145);
  color: white;
}

#counter {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
}

.comentario {
  position: relative;
}

.select-container {
  display: flex;
  gap: 5px;
}

#form-data {
  display: none;
  width: 675px;
}

@media screen and ( max-height : 550px ) {

  #trybewarts-forms-logo {
    margin-bottom: 50px;
  }
}
